
<div class="toolbar">
  <p>{Logo and menu here}</p>
</div>
<div class="balance-container">
  <div class="your-balance-label">
    <h4>Your Balance </h4>
  </div>
  <div class="your-balance">
    <h2 class="polarity">+</h2>
    <h2 class="balance">$13.40</h2>
  </div>
</div>
<div class="new-expense-container">
  <form>
    <button href="#">add new expense</button>
  </form>
</div>
<hr class="transaction-hr"/>
<div class="transactions-container">
  <div class="transactions">
    <div class="transaction no-touch"><span class="time">You added on Monday 3rd March</span><span class="detail">50% of $44.00 for Shopping</span></div>
    <div class="transaction no-touch"><span class="time">Sam added on Wednesday 28th February </span><span class="detail">50% of $23.00 for Beer</span></div>
    <div class="transaction no-touch"><span class="time">You added on Tuesday 27th February </span><span class="detail">33% of $34.80 for Chinese Dinner and drinks at the show</span></div>
  </div>
</div>