
<div class="toolbar noselect">
  <p>Tom's Tab</p>
</div>
<div class="balance-container">
  <div class="your-balance-label noselect">
    <h4>Your Balance </h4>
  </div>
  <div class="your-balance">
    <h2 class="polarity noselect"><span ng-if="balance &gt; 0">+</span><span ng-if="balance &lt; 0">-</span></h2>
    <h2 class="balance">{{balance | currency: $}}</h2>
  </div>
</div>
<div class="create-expense-container">
  <button href="#" ng-click="toggleExpand()" ng-style="createButton" focus-input="focus-input" class="create-new-expense noselect">create new expense</button>
</div>
<div ng-class="formState" class="new-expense-form">
  <form ng-enter="addExpense()">
    <input type="number" placeholder="How much?" ng-model="newTransaction.amount"/>
    <input type="text" placeholder="For what?" ng-model="newTransaction.desc"/>
    <input type="number" placeholder="% split?" ng-model="newTransaction.split" ng-value="100"/>
    <h4><span ng-if="newTransaction.amount &amp;&amp; newTransaction.desc &amp;&amp; newTransaction.split == null" ng-click="addExpense()" class="add">Add {{newTransaction.amount | currency: $}} to tab</span><span ng-if="newTransaction.amount &amp;&amp; newTransaction.desc &amp;&amp; newTransaction.split" ng-click="addExpense()" class="add">Add {{(newTransaction.amount*(newTransaction.split/100)) | currency: $}} to tab</span></h4>
  </form>
</div><br/>
<hr class="transaction-hr"/>
<div class="transactions-container">
  <h5>Your transactions</h5>
  <div class="transactions noselect">
    <div ng-repeat="transaction in transactions | orderBy: '-date'" class="transaction no-touch"><span ng-if="transaction.payer._id === user._id" class="time">You </span><span ng-if="transaction.payer._id !== user._id" class="time">{{transaction.payer.name}} </span><span class="time">added {{transaction.split * 100}}% of {{transaction.amount | currency : $}} on {{transaction.date | date: 'EEEE, dd of MMMM'}}</span><span class="detail">{{transaction.amount * transaction.split | currency : $}} for {{transaction.desc}}</span></div>
  </div>
</div>