
<div class="loginContainer">
  <h1>Login</h1><br/>
  <hr/><br/>
  <h4>Create an account</h4>
  <form>
    <input type="text" placeholder="your name"/>
    <input type="email" placeholder="email"/>
    <input type="password" placeholder="password"/>
    <input type="submit" value="Create account"/>
  </form><br/>
  <hr/><br/>
  <h4>Sign in</h4>
  <form>
    <input type="email" placeholder="email"/>
    <input type="password" placeholder="password"/>
    <input type="submit" value="Log In"/>
  </form>
</div>