
<div class="loginContainer">
  <h1>Login</h1><br/>
  <hr/><br/>
  <h4>Create an account</h4>
  <form ng-submit="createNewUser()">
    <input type="text" placeholder="your name" ng-model="newUser.name"/>
    <input type="email" placeholder="email" ng-model="newUser.email"/>
    <input type="password" placeholder="password" ng-model="newUser.password"/>
    <input type="submit" value="Create account"/>
  </form><br/>
  <hr/><br/>
  <h4>Sign in</h4>
  <form ng-submit="authenticate()">
    <input type="email" placeholder="email" ng-model="signIn.email"/>
    <input type="password" placeholder="password" ng-model="signIn.password"/>
    <input type="submit" value="Log In"/>
  </form><br/>
  <button ng-click="getMe()">	Who's logged in?</button>
  <button ng-if="userLoggedIn" ng-click="logmeout()">log out</button>
  <p>response: {{response}}</p><br/><br/>
  <p>Registered Users: </p>
  <ul> 
    <li ng-repeat="user in users">{{user.name}} | {{user.email}}</li>
  </ul>
</div>