.toolbar.noselect
	p Tom's Tab

.balance-container
	.your-balance-label.noselect
		h4 Your Balance 
	.your-balance
		h2.polarity.noselect
			span(ng-if="balance > 0") +
			span(ng-if="balance < 0") -
		h2.balance {{balance | currency: $}}

.create-expense-container
	button(href="#" ng-click="toggleExpand()" ng-style="createButton" focus-input).create-new-expense.noselect create new expense

.new-expense-form(ng-class="formState")
	form(ng-enter="addExpense()")
		//- span.currencyInput $
		input(type="text" placeholder="How much?" ng-model="newTransaction.amount" ng-currency)
		input(type="text" placeholder="For what?" ng-model="newTransaction.desc")
		input(type="number" placeholder="% split?" ng-model="newTransaction.split" ng-value="100")
		h4
			span.add(ng-if="newTransaction.amount && newTransaction.desc && newTransaction.split" ng-click="addExpense()") Add {{newTransaction.amount*(newTransaction.split/100) | currency: $}} to tab
		//- button Add expense to tab
br
hr.transaction-hr

.transactions-container
	h5 Your transactions
	.transactions.noselect
		.transaction(ng-repeat="transaction in transactions | orderBy: '-date'").no-touch
			span.time(ng-if="transaction.payer._id === user._id") You 
			span.time(ng-if="transaction.payer._id !== user._id") {{transaction.payer.name}} 
			span.time added {{transaction.split * 100}}% of {{transaction.amount | currency : $}} on {{transaction.date | date: 'EEEE, dd of MMMM'}}
			span.detail {{transaction.amount * transaction.split | currency : $}} for {{transaction.desc}}


//- .admin
//- 	h5 Dev tools:
