.loginContainer
	h1 Login
	br
	hr
	br
	h4 Create an account
	form
		input(type="text" placeholder="your name")
		input(type="email" placeholder="email")
		input(type="password" placeholder="password")
		input(type="submit" value="Create account")
	br
	hr
	br
	h4 Sign in
	form
		input(type="email" placeholder="email")
		input(type="password" placeholder="password")
		input(type="submit" value="Log In")